<div>
    <md-card>
        <md-card-content>
            <h2>Goldman Sachs, Bangalore, India</h2>
            <b>Application Developer - AD01</b>, &nbsp;June 2012 - July 2015<br/>
            <ul>
                <li>Designed and developed multiple low latency, SOA driven web applications.</li>
                <li>Contributed to the open source Java Collections library (GS-Collections) and an in-house MVC framework (GS-GLUI).</li>
                <li>Developed an Android app ‘Impact’. Designed to help candidates through the recruiting process.</li>
                <li>Designed the scaffolding and communication paradigm for an application. The new design eliminated the code redundancy and improved the overall performance of the underlying services by about 30%.</li>
                <li>Introduced and worked on tools and frameworks for JavaScript task runner and end to end testing. Increased the code coverage by 40% and helped in integrating the module with the continuous and integration builds.</li>
                <li>Performed performance engineering involving the JEE platform and RDBMS systems.</li>
                <li>Emerged as a special point of contact for the technologies such as Java, Angular JS, Android in the team.</li>
                <li>Regular speaker at technical training sessions and Tech Net sessions organized every year for fresh hires</li>
            </ul></p>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <h2>Cisco Systems, Bangalore, India</h2>
            <b>Summer Intern</b>, &nbsp;May 2011 - July 2011
            <ul>
                <li>Worked on the study and analysis of IPv6 addresses and understanding the Cisco IOS parser. It aimed to
                    build an automated IPv6-Tool for conversion of IPv4 IOS configuration into equivalent IPv6 configuration.
                    It involved the full GUI and backend implementation of the module. </li>
            </ul>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <h2>International Institute of Information Technology, Hyderabad</h2>
            <b>Research Intern</b>, &nbsp; May 2010 - July 2010<br/>
            Area : Natural Language Processing
            <ul>
                <li>Worked on the various aspects of Natural Language Processing and its application in the Language Processing of South Asian languages. Working in the largest academic centre of speech and language technology in South Asia, I worked on the research and development of the software called Sanchay. The project involved incorporation of Java APIs for various data formats like SSF, CoNLL, LTAGSpinal format in Sanchay.
                </li>
            </ul>
        </md-card-content>
    </md-card>
</div>
