The Gravity Backpack features a soft rack for maximum organization and a padded notebook computer section making the Gravity case an ideal school and business pack. The padded computer compartment is specifically designed to protect notebooks with up to standard 15 inch screens. Theres also plenty of storage space as you will find an extra large zippered storage compartment with two internal pockets including zippered mesh pockets; theyre perfect for personal or computing accessories.
<br/>
<ul>
    <li><b>Product Material:</b> Nylon</li>
    <li><b>Product Weight:</b> 3 lbs.</li>
    <li><b>Laptop Compartment Dimensions:</b> 14.2&quot; x 11.6&quot; x 2&quot;</li>
    <li>Soft Rack helps distribute weight of books or binders for a healthier back</li>
    <li>Padded notebook computer storage section - fits notebooks with up to 15.4&quot; screens</li>
    <li>Extra large zippered storage compartment with two internal pockets including zippered mesh pockets- Perfect for
        personal (checkbook PDA etc.) or computing accessories
    </li>
    <li>Contoured ergonomic shoulder straps with 3D air-mesh padding</li>
    <li>Mobile phone and CD player compartments with line-out porthole for headphones</li>
    <li>Front organizational pocket with key clip and pen loops</li>
    <li>Two external zippered accessory pockets</li>
</ul>
