<div class="grey-bg content-block margin-top15 border-light">\n
    <div class="text-highlight">For Sale at Bangalore, <span title="Karnataka">KA</span></div>
    \n
    <div class="margin-top10">\n
        <table border="0" cellpadding="0" cellspacing="0" class="cd-tbl" width="100%">\n
            <tr>\n
                <th width="140">Asking Price (Rs.)</th>
                \n
                <td class="price2" style="color: #cc0000;" width="180">42,000</td>
                \n
                <th width="160">Kms Done</th>
                \n
                <td>70,000</td>
                \n
            </tr>
            \n
            <tr>\n
                <th>Model Year</th>
                \n
                <td>Mar-2008</td>
                \n
                <th>Color</th>
                \n
                <td style="padding: 0;">yellow</td>
                \n
            </tr>
            \n
            <tr>\n
                <th>Registration</th>
                \n
                <td>Bangalore</td>
                \n
                <th>Profile Id</th>
                \n
                <td>S35347</td>
                \n
            </tr>
            \n
            <tr>\n
                <th>Owner</th>
                \n
                <td>First</td>
                \n
                <th>Seller</th>
                \n
                <td>Individual</td>
                \n
            </tr>
            \n
            <tr>\n
                <th>Insurance</th>
                \n
                <td>Comprehensive\r\n <br/>\n<span class="text-grey">(till 18 Nov, 2015)</span></td>
                \n
                <th>Lifetime-Tax</th>
                \n
                <td>Individual</td>
                \n
            </tr>
            \n
            <tr>\n
                <th valign="top">Engine</th>
                \n
                <td>1Cyl, Chain Drive Transmission, Petrol</td>
                \n
                <th valign="top">Fuel Type</th>
                \n
                <td valign="top">Petrol</td>
                \n
            </tr>
            \n
            <tr>\n
                <td align="right" colspan="4" style="padding:0; padding-right:30px">
                    <div class="margin-top10"><a class="action-btn" id="contact-seller">Get Seller Details</a></div>
                </td>
                \n
            </tr>
            \n
        </table>
        \n
    </div>
    \n
</div>
